<nav>
<div class="nav-wrapper valign-wrapper blue darken-3">
    <ul>
        <li><a id="scrape" class="btn white black-text">Scrape</a></li>
       <li><a id="clear" class="btn red white-text">Clear Articles</a></li>

    </ul>
</div>
</nav>

<div class="" id="background-home">
      <br>
      <br>
      <br>
      <h1 class="header center">Mongo Scraper</h1>
       <!-- Modal Trigger -->
      <div class="row center">
       
       <img src="onion.png" width="200px">
      </div>
      <br>
</div>
</div>
<div id="wrapper" class="container">
    <div class="row" id="articles">

    </div>
</div>

    <!-- Modal Structure -->
    <div id="comment-modal" class="modal">
      <div class="modal-content">
        <h6>Leave a Comment</h6>
        <div class="col s12" id="comment"></div>

      </div>
      <div class="modal-footer">
      </div>
    </div>


