<nav>
<div class="nav-wrapper valign-wrapper blue darken-3">
    <ul>
        <li><a id="scrape" class="btn white black-text">Scrape</a></li>
    </ul>
</div>
</nav>

<div class="container">
      <br>
      <br>
      <h1 class="header center">Mongo Scraper</h1>
       <!-- Modal Trigger -->
      <div class="row center">
        <h5 class="header col s12 light">The Onion Edition</h5>
      </div>
      <br>
      <hr>
      <br>
</div>
</div>
<div id="wrapper" class="container">
    <div class="row" id="articles">

    </div>
</div>

    <!-- Modal Structure -->
    <div id="comment-modal" class="modal">
      <div class="modal-content">
        <h6>Leave a Comment</h6>
        <div class="col s12" id="comment"></div>

      </div>
      <div class="modal-footer">
      </div>
    </div>


