body {
  background-image: url("./noisy_grid.png");
  background-repeat: repeat;
}
.waves-effect {
  margin-right: 5px;
}

#background-home{
  background-image: url('./bg.jpg');
 background-size: cover;
}

.header{
  color: white;
}